/* 전체 레이아웃 */


/* 헤더 01. float */
/* float으로 인한 영역 깨짐 현상 발생(하이트 값을 인식 못함)
   1. 깨지는 영역에 clear: both; 설정
   2. 부모 영역한테 overflow: hidden; 설정
   3. 가상의 영역(clearfix) 속성을 설정
*/
/*#header {
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}
#header .logo {
    float: left;
    width: 20%;
}
#header .logo a {
    font-size: 30px;
    display: inline-block;
    padding: 11px;
    margin-bottom: 1px;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    float: left;
    width: 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    display: inline-block;
    margin: 20px 35px 0;
    padding: 0 20px;
}
#header .member {
    float: right;
    width: 20%;
    text-align: right;
}
#header .member a {
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 9px 22px 7px;
    font-size: 16px;
}
*/

/* 헤더02. flex */ 

/* #header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    flex: 0 0 20%; Three values: flex-grow  flex-shrink  flex-basis
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
}
#header .member {
    flex: 0 0 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
} */


/* 헤더03. grid */
#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    min-width: 1200px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    transition: background 0.4s;
}
#header .menu li a:hover {
    background: #f5f5f5;
    border-radius: 10px;
}
/* #header .menu li a:hover {
    border-bottom: 1px solid #000;
    text-decoration: underline;
} */
#header .member {
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
    transition: background 0.3s;
}
#header .member a:hover {
    background: #000;
    color: #fff;
}

/* 배너 */
#banner {}
.imgType {
    width: 100%;
    height: 700px;
    /* background-image: url(../img/bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    background: url(../img/bg01.jpg) no-repeat center / cover;
}

/* 
    웹 사이트에서 이미지를 표현하는 방법  
    1. HTML 태그를 통해서 : img 태그 : 의미가 있는 이미지(로고, 메뉴) --> alt(대체 문자)
    2. CSS 속성을 통해서 : background 속성 : 의미가 없는 이미지(배경, 색표현) --> ir효과(대체 문자를 CSS 속성으로표현) 
    3. 이미지 스프라이트 : background와 ir효과를 통해서 이미지를 표현
*/