@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'LABDigital';
    }
    body {
        width: 100%;
        height: 100vh;
        cursor: none;
        overflow: hidden;
    }
    #wrap {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    #header{
        height: 30px;
        background: rgb(5, 5, 102);
        color: #fff;
        padding: 6px 5px 0 5px;
        display: flex;
        justify-content: space-between;
    }
    .btnBox {
        display: flex;
        align-items: end;
        justify-content: center;
        margin-bottom: 5vh;
    }
    .btnBox > div,
    .btnBox > a {
        margin: 0 1.5vw;
    }
    .btnBox > div:hover p,
    .btnBox > a:hover p {
        background: rgb(43, 255, 0);
    }
    .btn {
        padding: 10px 8px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    .btnText {
        text-align: center;
        background: #000;
        color: #fff;
        padding: 2px 10px;
    }
    .musicBtn img {
        width: 60px;
        padding-bottom: 3px;
    }
    .memoriBtn img {
        width: 60px;
    }
    .typingBtn img {
        width: 70px;
    }
    .reactBtn {
        cursor: none;
        text-decoration: none;
    }
    .reactBtn img {
        width: 70px;
    }
    .musicBox {
        top: 50px;
        right: 50px;
        width: 380px;
        height: 610px;
        text-align: right;
        position: absolute;
        background: rgba(27, 7, 82, 0.842);
        color: #fff;
        flex-direction: column;
        justify-content: end;
        display: none;
        border-radius: 20px;
        transform: scale(0.5) rotateX(180deg) rotateY(360deg);
        transition: all 0.4s ease-in-out;
    }
    .musicBox.show {
        display: flex;
        transition: all 0.4s ease-in-out;
    }
    .musicBox.show.move {
        transform: scale(1) rotateX(0) rotateY(0);
        transition: all 0.4s ease-in-out;
    }
    .musicPlayer {
        width: 380px;
        height: 590px;
    }
    .cursor img {
        width: 30px;
        height: 30px;
    }
    .memoriBox {
        width: 700px;
        height: 720px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: right;
        background: rgba(27, 7, 82, 0.842);
        color: #fff;
        flex-direction: column;
        justify-content: end;
        display: flex;
        transform: scaleY(0);
        transition: all 0.5s ease-in-out;
    }
    .memoriBox.show {
        transform: scaleY(1);
    }
    .memoriGame {
        width: 700px;
        height: 700px;
    }
    .typingBox {
        width: 900px;
        height: 483px;
        border-radius: 20px;
        position: absolute;
        text-align: right;
        background: rgba(27, 7, 82, 0.842);
        color: #fff;
        flex-direction: column;
        justify-content: end;
        display: flex;
        top: -100vh;
        left: 28vw;
        transition: all 0.5s ease-in-out;
    }
    .typingBox.show {
        top: 20vh;
        left: 28vw;
    }
    .typingGame {
        width: 900px;
        height: 463px;
    }
    .close {
        margin-right: 10px;
    }
    .cursor {
        position: absolute;
        left: 0; top: 0;
        z-index: 100;
        width: 25px;
        user-select: none;
        pointer-events: none;
    }