<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test4</title>

    <style>
        * {
            font-size: 20px;
        }
        h2 {
            font-size: 1.5rem;
            color: blueviolet;
            background-color: rgb(0, 0, 0);
            display: inline-block;
        }
        #main li {
            font-size: 1.5rem;
        }
        table {
            border-collapse: collapse;
        }
        table td{
            border: 1px solid red;
        }

        
    </style>
</head>
<body>
    <h2>테스트</h2>
    <main id="main">
        <nav>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </nav>
        <a href="test5.html"></a>

        <div class="btn"></div>
    </main>

    <script src="../../javascript/assets/js/prism2.js"></script>

    <script>
        {
            let num=1;

            let table = "<table>";
                    for(let i=1; i<=5; i++){
                        table+="<tr>";
                            for(let j=1; j<=5; j++, num++){
                                table+="<td>"+num+"</td>";
                            }
                        table+="</tr>";
                    }
                table += "</table>";

                document.write(table)
        }

    </script>
</body>
</html>